@use "../../variables" as *;

.card {
  overflow: hidden;
  border: none;
  background-color: $white_smoke;

  & > h2 {
    position: absolute;
    z-index: 1;
    text-align: left;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    padding-left: 6px;
    font-weight: bold;
    font-size: $fontsize-l;
    line-height: 29px;
    color: $orange_bistre;
    background: linear-gradient(
        to bottom right,
        $white 50%,
        rgba(0, 0, 0, 0) 51%
      )
      no-repeat top left / 100%;
  }

  .card-body {
    display: flex;
    flex-flow: column;
    align-items: center;

    & > p {
      font-size: $fontsize-s;
      line-height: 33px;
      margin-bottom: 30px;
    }
  }

  &:hover {
    @media screen and (min-width: $breakpoints-md) {
      img {
        transition: 0.5s ease;
        transform: scale(1.2);
      }
    }
  }
}
