@use "../../variables" as *;

.news-and-events-more {
  font-family: $fontfamily-gothic;
  font-style: normal;
  font-weight: normal;
  font-size: $fontsize-s;
  line-height: 20px;
  color: $black;
  transition: 0.2s ease;

  &:hover {
    color: $gray_nobel;
    text-decoration: none;
  }
}
