@use "../../variables" as *;

.news-and-events-title {
	display: flex;
	align-items: center;
	font-family: $fontfamily-mincho;
	font-size: $fontsize-l;
	@media (min-width: $breakpoints-lg) {
		font-size: $fontsize-xxl;
	}
	& > span {
		font-family: $fontfamily-gothic;
		font-size: $fontsize-m;
		font-weight: normal;
		margin-left: 16px;
	}
}
