@use "../../variables" as *;

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $fontfamily-gothic;
  font-style: normal;
  font-weight: normal;
  font-size: $fontsize-m;
  line-height: 23px;
  & > .news-and-events-title {
    padding-right: 16px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    line-height: 29px;
    @media (min-width: $breakpoints-lg) {
      font-size: $fontsize-xxl;
      line-height: 57px;
    }
  }
}
