@use "../../variables" as *;

.message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 52px 20px;
  & > h2 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    line-height: 30px;
    padding: 0px 0px 6px;
    @media (min-width: $breakpoints-lg) {
      font-size: $fontsize-xl;
      line-height: 54px;
      padding: 0px 0px 10px;
    }
  }
  & > p {
    font-family: $fontfamily-gothic;
    font-size: $fontsize-s;
    line-height: 28px;
    @media (min-width: $breakpoints-lg) {
      line-height: 36px;
    }
  }
}
