@use "../../variables" as *;

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  @media (min-width: $breakpoints-lg) {
    padding: 52px 20px;
  }
  & > h2 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    line-height: 30px;
    margin-bottom: 6px;
    @media (min-width: $breakpoints-lg) {
      font-size: $fontsize-xl;
      line-height: 54px;
      margin-bottom: 10px;
    }
  }
  & > p {
    font-family: $fontfamily-gothic;
    font-size: $fontsize-s;
    margin-bottom: 0px;
    line-height: 28px;
    @media (min-width: $breakpoints-lg) {
      line-height: 36px;
    }
  }
}
