@use "../../variables" as *;

.message{

    &>h2{
        font-family: $fontfamily-mincho;
        font-size: $fontsize-l;
        margin-bottom: 6px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 6px;
        @media (min-width: $breakpoints-lg) {
            font-size: $fontsize-xl;
            margin-bottom: 10px;
            padding: 0px 0px 10px;
        }
    }

    &>p{
        font-family: $fontfamily-gothic;
        font-size: $fontsize-s;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}