@use "../../variables" as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    transition: 0.2s ease;
    background-color: $black;
    color: $white;
    font-size: $fontsize-s;

    &:hover {
        background-color: $orange_bistre;
    }

    @media screen and(min-width:$breakpoints-md) {
        width: 150px;
        height: 55px;
    }

    @media screen and(min-width:$breakpoints-lg) {
        width: 200px;
    }
}