/*color*/
$white: #FFFFFF;
$white_smoke: #F5F5F5;
$gray_gainsboro: #DDDDDD;
$gray_nobel: #999999;
$orange_zorba: #A19283;
$orange_bistre: #442606;
$black_50: rgba(0,0,0,0.5);
$black: #000000;

/*font-size*/
$XS: 12px;
$S: 14px;
$M: 16px;
$L: 20px;
$XL: 36px;
$XXL: 40px;

/*font-family*/
$fontfamily-mincho: Noto Serif JP;
$fontfamily-gothic: Noto sans JP;
$fontfamily-English: Roboto;
$fontfamily-default: BIZ UDPゴシック;

/*frame*/
$grid-breakpoints: (
    xs: 0,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px
);

$container-max-widths: (
    s: 540px,
    m: 720px,
    l: 960px,
    xl: 1140px
);